<ion-view view-title="我的订单">
    <ion-content>
        <div class="list list-inset">
            <a class="item item-avatar" href="#">
              <img src="img/ionic.png">
              <h2>Venkman</h2>
              <p>Back off, man. I'm a scientist.</p>
            </a>
        </div>
        
        <div class="list list-inset">
            <a class="item item-icon-left" href="#">
                <i class="icon ion-document-text"></i>
                我的订单
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-cash"></i>
                我的优惠券
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-compose"></i>
                意见反馈
            </a>
        </div>
    </ion-content>
</ion-view>