<ion-view view-title="课程详情">
<ion-nav-buttons side="right">
    <a class="button button-icon ion-ios-person" ui-sref="tab.account"></a>
  </ion-nav-buttons>
<ion-content class="padding">
<!-- 轮播图 -->

<ion-slide-box show-pager="false" auto-play="true" slide-interval="2000" delegate-handle="slideimgs" does-continue="true">
  <ion-slide ng-repeat="resource in venue.resources">
    <img ng-src="{{resource.path}}" style="margin:auto; height:250px">
    <!-- <div>
      <p>{{resource.text}}</p>
    </div> -->
  </ion-slide>
</ion-slide-box>

<ion-list class="padding">
  <ion-item class="list-group-item">仅剩<span class="label label-danger">{{venue.maxLimit}}</span>席|可容纳<span class="label label-default">{{venue.maxLimit}}</span>人</ion-item>
</ion-list>

<ion-list>
  <ion-item ui-sref="tab.schedule({venueId:venue.id})"><div class="icon ion-ios-clock-outline">&nbsp;&nbsp;时间</div></ion-item>
  <ion-item ui-sref="tab.map({venueId:venue.id})"><div class="icon ion-ios-location-outline">&nbsp;&nbsp;详细位置／距离</div></ion-item>
  <ion-item href="tel:{{venue.phone}}"><div class="icon ion-ios-telephone-outline">&nbsp;&nbsp;电话</div></ion-item>
</ion-list>


<!-- <ion-scroll direction="x" class="wide-as-needed" >
  <ion-list ng-repeat="course in courses">
    <a class="button inline-button" ui-sref="tab.vip-list({courseId:course.id})">
        <img height="50" width="50" src="img/ionic.png">
    </a>
    <a class="button inline-button">
        <img height="50" width="50" src="img/ionic.png">
    </a>
    <a class="button inline-button">
        <img height="50" width="50" src="img/ionic.png">
    </a>
    <a class="button inline-button">
        <img height="50" width="50" src="img/ionic.png">
    </a>
  </ion-list>
</ion-scroll> -->
<ion-scroll direction="x" class="wide-as-needed" >
                    <a class="button inline-button"><img src="img/ionic.png"></a>
                    <a class="button"><img src="http://nuclearpixel.com/content/icons/2010-02-09_stellar_icons_from_space_from_2005/earth_128.png"></a>
                    <a class="button"><img src="http://nuclearpixel.com/content/icons/2010-02-09_stellar_icons_from_space_from_2005/earth_128.png"></a>
                    <a class="button"><img src="http://nuclearpixel.com/content/icons/2010-02-09_stellar_icons_from_space_from_2005/earth_128.png"></a>
                    <a class="button"><img src="http://nuclearpixel.com/content/icons/2010-02-09_stellar_icons_from_space_from_2005/earth_128.png"></a>
                    <a class="button"><img src="http://nuclearpixel.com/content/icons/2010-02-09_stellar_icons_from_space_from_2005/earth_128.png"></a>
                    <a class="button"><img src="http://nuclearpixel.com/content/icons/2010-02-09_stellar_icons_from_space_from_2005/earth_128.png"></a>
                    <a class="button"><img src="http://nuclearpixel.com/content/icons/2010-02-09_stellar_icons_from_space_from_2005/earth_128.png"></a>
                    <a class="button"><img src="http://nuclearpixel.com/content/icons/2010-02-09_stellar_icons_from_space_from_2005/earth_128.png"></a>
                    <a class="button"><img src="http://nuclearpixel.com/content/icons/2010-02-09_stellar_icons_from_space_from_2005/earth_128.png"></a>
                    <a class="button"><img src="http://nuclearpixel.com/content/icons/2010-02-09_stellar_icons_from_space_from_2005/earth_128.png"></a>
                    <a class="button"><img src="http://nuclearpixel.com/content/icons/2010-02-09_stellar_icons_from_space_from_2005/earth_128.png"></a>
                    <a class="button"><img src="http://nuclearpixel.com/content/icons/2010-02-09_stellar_icons_from_space_from_2005/earth_128.png"></a>
                    <a class="button"><img src="http://nuclearpixel.com/content/icons/2010-02-09_stellar_icons_from_space_from_2005/earth_128.png"></a>
                    <a class="button"><img src="http://nuclearpixel.com/content/icons/2010-02-09_stellar_icons_from_space_from_2005/earth_128.png"></a>
                    <a class="button"><img src="http://nuclearpixel.com/content/icons/2010-02-09_stellar_icons_from_space_from_2005/earth_128.png"></a>
                    </ion-scroll>


<ion-scroll direction="x" class="wide-as-needed" >
<div class ="" ng-repeat="course in courses">
  <a class="button inline-button"><img height="50" width="50" src="{{course.logoPath}}"></a>
</div>
</ion-scroll>
                 





<!-- <button ng-click="openWechatMap()">微信地图</button> -->
<!-- <div class="row">
  <div class="row">
    <div class="col-md-6">
      <a ui-sref="index.order" class="btn btn-primary">提交订单</a>
    </div>
  </div>
</div> -->
<!-- 简介 -->
<ion-list class="padding">
   <div class="item item-body">
   <h2>简介</h2>
      <p>
        {{venue.introduce}}
      </p>
  </div>
</ion-list>

</ion-content>
  <div class="bar bar-footer" style="background-color:#ccc;padding-bottom:5px;margin-bottom:48px">
    <del>原价{{venue.originalPrice | currency : "￥"}}</del>&nbsp;&nbsp;&nbsp;&nbsp;
    <div style="font-color:red">{{venue.price | currency : "￥"}}</div>
    <button class="button button-assertive pull-right" ui-sref="tab.placeOrder({venueId:venue.id})">
      马上预约
    </button>
  </div>
</ion-view>