<ion-popover-view style="width:90%;height:300px;">
        <div class="row" style="height:300px;padding:0;margin:0">
            <div class="col-50">
                <ion-scroll style="height:300px">
                    <label class="item item-radio" ng-repeat="d in dates">
                        <input type="radio" name="groupDates" ng-click="chooseDate(d.showDate, d.queryDate)">
                        <div class="item-content">
                          {{d.showDate}}
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                </ion-scroll>
                
            </div>
            <div class="col-50">
                <ion-scroll style="height:300px">
                    <label class="item item-radio" ng-repeat="t in times">
                        <input type="radio" name="groupTimes" ng-click="chooseTime(t.showTime, t.queryTime)">
                        <div class="item-content">
                          {{t.showTime}}
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                </ion-scroll>
            </div>
        </div>
</ion-popover-view>