<ion-view view-title="场馆信息">
  <ion-content class="padding">
    <!-- 下拉列表 -->
    <div class="button-bar">
      <a class="button icon-right ion-arrow-down-b" ng-click="showpopoverdatetime($event)">
        <div style="line-height:22px">
          <span style="font-size:16px">{{queryCondition.showDate}}</span>
          <br>
          <span style="font-size:15px">{{queryCondition.showTime}}</span>
        </div>
      </a>
      <a class="button icon-right ion-arrow-down-b" ng-click="showpopovertype($event)">{{queryCondition.typeName}}</a>
      <a class="button icon-right ion-arrow-down-b" ng-click="showpopoverposition($event)">{{queryCondition.position}}</a>
    </div>

    <div class="list card" ng-repeat="venue in venues">
      <div class="item item-body" ui-sref="tab.venue-detail({venueId:venue.id})">
        <img class="full-image" ng-src="{{venue.logoPath}}" height="200px">
        <div class="row">
          <div class="col">{{venue.poiName}}</div>
          <div class="col col-offset-70" style="text-align:right">{{venue.score}}星</div>
        </div>
        <div class="row">
          <div class="col col-10"><i class="icon ion-ios-location-outline"></i></div>
          <div class="col">{{venue.addr}}</div>
        </div>
        <div class="row">
          <div class="col col-10"><i class="icon ion-ios-clock-outline"></i></div>
          <div class="col col-65">{{venue.openTime | date:'MM-dd (HH:mm'}}-{{venue.closeTime | date:'HH:mm)'}}</div>
          <div class="col col-25" style="text-align:right">{{venue.price | currency : "￥"}}</div>
        </div>
      </div>
    </div>

    <!-- <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
 -->
  </ion-content>
</ion-view>
