<ion-view view-title="订单">
    <ion-content>
        <div class="list list-inset">
            <a class="item" href="#">
                地点：{{venue}}
            </a>

            <a class="item" href="#">
                价格：{{venue}}
            </a>
            <label class="item item-input item-stacked-label">
                <span class="input-label">*联系方式：</span>
                <input type="text" placeholder="请输入您的手机号码">
                <p>
                您留下的手机号码将是课程变动时，我们客服联系到您的重要方式，请填写您最常使用的手机号码！
                </p>
            </label>
            
        </div>
    </ion-content>
</ion-view>