<!--
This template loads for the 'tab.friend-detail' state (app.js)
'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
The FriendsCtrl pulls data from the Friends service (service.js)
The Friends service returns an array of friend data
-->
<ion-view view-title="{{venue.name}}">
<ion-content class="padding">
<!-- 轮播图 -->
<!-- <div>
  <carousel interval="myInterval">
  <slide ng-repeat="resource in venue.resources" active="slide.active">
  <img ng-src="{{resource.image}}" style="margin:auto; height:250px">
  <div class="carousel-caption">
    <p>{{resource.text}}</p>
  </div>
  </slide>
  </carousel>
</div> -->

<ion-slide-box on-slide-changed="slideHasChanged($index)"  class="slidebox"  auto-play="true" slide-interval="2000" delegate-handle="slideimgs" does-continue="true">
  <ion-slide ng-repeat="resource in venue.resources">
    <img ng-src="{{resource.image}}" style="margin:auto; height:250px">
    <!-- <div>
      <p>{{resource.text}}</p>
    </div> -->
  </ion-slide>
</ion-slide-box>

<ion-list class="padding">
  <ion-item class="list-group-item">仅剩<span class="label label-danger">{{venue.availableSeats}}</span>席|可容纳<span class="label label-default">{{venue.capacity}}</span>人</ion-item>
</ion-list>

<ion-list>
  <ion-item><div class="icon ion-android-time">&nbsp;&nbsp;时间</div></ion-item>
  <ion-item ui-sref="tab.map"><div class="icon ion-android-time">&nbsp;&nbsp;详细位置／距离</div></ion-item>
  <ion-item href="tel:{{venue.tel}}"><div class="icon ion-android-time">&nbsp;&nbsp;电话</div></ion-item>
</ion-list>
<!-- <div class="row">
  <div class="row">
    <div class="col-md-6">
      <a ui-sref="index.order" class="btn btn-primary">提交订单</a>
    </div>
  </div>
</div> -->
<!-- 简介 -->
<ion-list class="padding">
   <div class="item item-body">
   <h2>简介</h2>
      <p>
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </p>
  </div>
</ion-list>

</ion-content>
  <div class="bar bar-footer" style="background-color:#ccc;padding-bottom:5px;margin-bottom:48px">
    <div>{{venue.price | currency : "￥"}}</div>
    <button class="button button-assertive pull-right" ui-sref="tab.placeOrder({venueId:venue.id})">
      现在预约
    </button>
  </div>
</ion-view>