<body ng-controller="VenueDetailCtrl">
  <div class="container" media=screen >
    <ion-view view-title="场馆详情">
        <ion-nav-buttons side="right">
            <a class="button button-icon ion-ios-person" ui-sref="tab.account"></a>
        </ion-nav-buttons>

        <ion-content>
          <ion-slide-box show-pager="true" auto-play="true" slide-interval="2000" delegate-handle="slideimgs" does-continue="true">
            <ion-slide ng-repeat="resource in venue.resources">
              <img ng-src="{{resource.path}}" style="margin:auto; height:250px">
              <!-- <div>
                <p>{{resource.id}}</p>
              </div> -->
            </ion-slide>
          </ion-slide-box>

        <div ng-tabs class="tabbable">
            <ul class="nav nav-tabs" style="margin-bottom: 20px; margin-top: 10px; font-size: 20px;">
                <li ng-tab-head="active">
                    <a href="#" ng-click="$event.preventDefault()">简介</a>
                </li>
                <li ng-tab-head>
                    <a href="#" ng-click="$event.preventDefault()">课程</a>
                </li>
            </ul>


          <div class="tab-content" style="overflow: hidden">

              <!-- 场馆简介 -->        
              <div ng-tab-body="animated bounceInUp" class="tab-pane">

                <ul class="noStyle cgjj-details">
                  <li class="sec0">
                  </li>
                  <li class="titlesec">
                    <h4>{{venue.name}}</h4>
                    <div class="icons">
                      <i class="sprite sprite-wifi"></i>
                      <i class="sprite sprite-shower"></i>
                      <i class="sprite sprite-yigui"></i>
                      <p>
                        <span class="text">wifi</span>
                        <span class="text">淋浴</span>
                        <span class="text">衣柜</span>
                      </p>
                    </div>
                  </li>
                  <li class="sec1">
                    <a>
                      <i class="sprite sprite-phone"></i>
                        <p class="content">
                          <span class="title" href="tel:{{venue.phone}}">门店电话:</span>
                          <span class="det">{{venue.phone}}</span>
                        </p>                     
                      <i class="sprite sprite-arrowright"></i>
                    </a>
                  </li>
                  <li class="sec2" ui-sref="tab.map({venueId:venue.id})">
                    <i class="sprite sprite-loc"></i>
                    <p class="content">
                      <span class="title">门店地址:</span>
                      <span class="det">{{venue.addr}}</span>
                    </p>
                  </li>
                  <li class="sec3">
                    <i class="sprite sprite-label"></i>
                    <p class="title">门店概况:</p>
                    <div class="content">
                      <!-- <p>{{venue.introduce}}</p> -->
                      <div ng-bind-html="venue.introduce"></div>
                    </div>
                  </li>
                 <!--  <li class="sec3" ui-sref="tab.map({venueId:venue.id})"><i class="sprite sprite-label"></i>
                    <p class="title">场馆简介:</p>
                    <div class="content">
                      
                    </div>
                  </li> -->
                </ul>
              </div>

                <!-- 课程列表 --> 
                <div ng-tab-body="animated bounceInUp" class="tab-pane">
                  <div class="cgxq-calendar">
                    <p class="month">{{dayTest[0].date}}</p>
                    <table class="days">
                      <tbody>
                        <tr class="sec1">
                          <td ng-repeat="day in dayTest">{{day.week}}</td>
                        </tr> 
                        <tr class="sec2" >
                          <td class="thismonth" ng-repeat="day in dayTest">
                            <a >{{day.day}}</a>
                          </td>
                        </tr>
                        
                     
                         <!--  <td><a>13</a></td>
                          <td><a>14</a></td>
                          <td><a>15</a></td>
                          <td><a>16</a></td>
                          <td class="today"><a>{{dayTest}}</a></td>
                          <td class="thismonth"><a>{{dayTest+1}}</a></td>
                          <td class="thismonth"><a>{{dayTest+2}}</a></td>
                        -->
                        <!-- <tr class="sec2">
                          <td class="thismonth"><a>1</a></td>
                          <td class="thismonth"><a>2</a></td>
                          <td class="thismonth"><a>3</a></td>
                          <td class="thismonth"><a>4</a></td>
                          <td class="thismonth"><a>5</a></td>
                          <td><a>6</a></td>
                          <td><a>7</a></td>
                        </tr>  -->
                    </tbody>
                  </table> 
                  <!-- <input id="meeting" type="date" value="dayTest" /> -->
                  </div>
                    <ion-list ng-repeat="course in courses">
                      <ul class="noStyle cgxq-lessions">  
                          <a class="item item-avatar"  ui-sref="tab.course-detail({courseId:course.id})"> 
                            <img src="{{course.logoPath}}" alt="">
                            <div class="secright" style="margin-left:60px">
                              <h4>{{course.name}}</h4>
                              <p>{{course.introduce}}</p>
                              <div class="prices">
                                <span class="p1">
                                  <i>￥</i>
                                  <span>100</span>
                                </span><span class="p2">￥300</span>
                              </div>
                              <span class="time">10:00~11:30</span>
                              <div class="sprite-arrowright sprite"></div>
                            </div>
                          </a>                      
                      </ul>
                    </ion-list>
                </div>  
            </div>
        </div>
  </div>
</body>





  