<body ng-controller="VenueDetailCtrl">
  <div class="container" media=screen >
     <ion-view view-title="场馆详情">
        <ion-nav-buttons side="right">
            <a class="button button-icon ion-ios-person" ui-sref="tab.account"></a>
          </ion-nav-buttons>

        <ion-content>
          <ion-slide-box show-pager="true" auto-play="true" slide-interval="2000" delegate-handle="slideimgs" does-continue="true">
            <ion-slide ng-repeat="resource in venue.resources">
              <img ng-src="{{resource.path}}" style="margin:auto; height:250px">
              <!-- <div>
                <p>{{resource.id}}</p>
              </div> -->
            </ion-slide>
        </ion-slide-box>

        <div ng-tabs class="tabbable">

            <ul class="nav nav-tabs" style="margin-bottom: 20px; margin-top: 10px; font-size: 20px;">
                <li ng-tab-head="active">
                    <a href="#" ng-click="$event.preventDefault()">简介</a>
                </li>
                <li ng-tab-head>
                    <a href="#" ng-click="$event.preventDefault()">课程</a>
                </li>
            </ul>
            <div class="tab-content" style="overflow: hidden">

                <!-- 场馆简介 -->
                <div ng-tab-body="animated bounceInUp" class="tab-pane">

                    <ion-list >
                      <ion-item><h2>{{venue.name}}</h2></ion-item>
                      <ion-item href="tel:{{venue.phone}}">
                        <div class="icon ion-ios-telephone-outline">
                          &nbsp;&nbsp;电话：{{venue.phone}}
                        </div>
                      </ion-item>
                      <ion-item ui-sref="tab.map({venueId:venue.id})">
                        <a class="icon icon-left icon-right">
                            <i class="icon ion-ios-location-outline"></i>
                              &nbsp;&nbsp;门店地址：{{venue.addr}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <i class="icon ion-ios-arrow-right" style="margin-right:10px"></i>
                        </a>
                      </ion-item>
                    

                    <!-- 简介 -->
                    <div class="item item-body" >
                        <h2>简介</h2>
                        <p style="margin-left:10px ; width:36%">{{venue.introduce}}</p>
                    </div>
                  </ion-list> 
                </div>

                <!-- 课程列表 --> 
                <div ng-tab-body="animated bounceInUp" class="tab-pane">

                    <ion-list ng-repeat="course in courses">
                      <a class="item item-avatar" ui-sref="tab.course-detail({courseId:course.id})">
                        <img src="{{course.logoPath}}">
                        <p style="color:#61f0c9">11:00--12:30</p>
                        <h2>{{course.name}}</h2>
                        <p>{{course.introduce}}</p>
                        <h2 style="color:#61f0c9">{{course.price | currency : "￥"}}</h2>
                      </a>
                    </ion-list>

                </div>                
            </div>
        </div>
  </div>

</body>
