<body ng-controller="VenueDetailCtrl">
  <div class="container" media=screen>
     <ion-view view-title="场馆详情">
        <ion-nav-buttons side="right">
            <a class="button button-icon ion-ios-person" ui-sref="tab.account"></a>
          </ion-nav-buttons>

        <ion-content>
          <ion-slide-box show-pager="false" auto-play="true" slide-interval="2000" delegate-handle="slideimgs" does-continue="true">
            <ion-slide ng-repeat="resource in venue.resources">
              <img ng-src="{{resource.path}}" style="margin:auto; height:250px">
              <!-- <div>
                <p>{{resource.text}}</p>
              </div> -->
            </ion-slide>
        </ion-slide-box>

        <div ng-tabs class="tabbable">

            <ul class="nav nav-tabs" style="margin-bottom: 20px; margin-top: 10px; font-size: 20px;">
                <li ng-tab-head="active">
                    <a href="#" ng-click="$event.preventDefault()" style="text-decoration: blink;">简介</a>
                </li>
                <li ng-tab-head>
                    <a href="#" ng-click="$event.preventDefault()" style="text-decoration: blink;">课程</a>
                </li>
            </ul>
            <div class="tab-content" style="overflow: hidden">
                <!-- 场馆简介 -->
                <div ng-tab-body="animated bounceInUp" class="tab-pane">
                    <ion-list>
                        <ion-item class="list-group-item">仅剩<span class="label label-danger">{{venue.maxLimit}}</span>席|可容纳<span class="label label-default">{{venue.maxLimit}}</span>人</ion-item>
                    </ion-list>
                    <ion-list class="padding">
                      <ion-item ui-sref="tab.schedule({venueId:venue.id})"><div class="icon ion-ios-clock-outline">&nbsp;&nbsp;时间</div></ion-item>
                      <ion-item ui-sref="tab.map({venueId:venue.id})"><div class="icon ion-ios-location-outline">&nbsp;&nbsp;详细位置／距离</div></ion-item>
                      <ion-item href="tel:{{venue.phone}}"><div class="icon ion-ios-telephone-outline">&nbsp;&nbsp;电话</div></ion-item>
                    </ion-list>
                    <!-- 简介 -->
                    <ion-list class="padding">
                      <div class="item item-body">
                        <h2>简介</h2>
                        <p>{{venue.introduce}}</p>
                      </div>
                    </ion-list>
                </div>

                <!-- 课程列表 --> 
                <div ng-tab-body="animated bounceInUp" class="tab-pane">

                    <ion-list ng-repeat="course in courses">

                      <a class="item item-avatar" ui-sref="tab.placeOrder({venueId:venue.id})">
                        <img src="venkman.jpg">
                        <!-- <p style="text-align:right">11:00--12:30</p> -->
                        <h2>{{course.name}}</h2>
                        <p>{{course.introduce}}</p>
                        <h3 style="text-align:right; color:#61f0c9">¥{{course.price}}</h3>
                      </a>

                    </ion-list>

                </div>
            
                <!-- <div ng-tab-body="animated fadeInRightBig" class="tab-pane">
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                </div> -->
                
            </div>
        </div>
  </div>

</body>
