/*.fixed{
    position:fixed;
    right:0;
    top:0;
    border:1px solid red;
    width:300px;
    height:250px;
}*/
body {
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #3c3c3c;
  font-weight: 300;
}
* {
  box-sizing: border-box;
}
a:hover {
  cursor: pointer;
}
.clear {
  clear: both;
}
ul.noStyle {
  margin: 0;
  padding: 0;
  list-style: none;
}
.greyBg {
  background-color: #f5f5f5;
}
.sprite {
  background-image: url("/img/sprites.png");
  background-repeat: no-repeat;
}
.sprite-back {
  width: 18px;
  height: 18px;
  background-position: -18px -18px;
}
.sprite-fav {
  width: 18px;
  height: 18px;
  background-position: -76.5px -18px;
}
.sprite-user {
  width: 18px;
  height: 18px;
  background-position: -137px -18px;
}
.sprite-arrowright {
  width: 13px;
  height: 13px;
  background-position: -83px -118px;
}
.sprite-wifi {
  width: 24px;
  height: 24px;
  background-position: -18px -63px;
}
.sprite-shower {
  width: 24px;
  height: 24px;
  background-position: -77.5px -63px;
}
.sprite-yigui {
  width: 24px;
  height: 24px;
  background-position: -136.5px -63px;
}
.sprite-phone {
  width: 20px;
  height: 20px;
  background-position: -20px -114.5px;
}
.sprite-loc {
  width: 20px;
  height: 20px;
  background-position: -20px -166px;
}
.sprite-label {
  width: 20px;
  height: 20px;
  background-position: -81.5px -166px;
}
.sprite-fav2 {
  width: 20px;
  height: 20px;
  background-position: -141.5px -166px;
}
.sprite-calendar {
  width: 18px;
  height: 18px;
  background-position: -197px -18px;
}
.sprite-diamond {
  width: 20px;
  height: 20px;
  background-position: -139px -114.5px;
}
.sprite-vip {
  width: 16px;
  height: 16px;
  background-position: -205px -168px;
}
.sprite-home {
  width: 20px;
  height: 20px;
  background-position: -198.5px -114.5px;
}
.navbar {
  margin: 0;
  padding: 0;
  height: 45px;
  background-color: #333;
}
.navbar ul.content {
  text-align: center;
}
.navbar ul.content .sec0 {
  position: absolute;
  padding-top: 10px;
  margin-left: 23px;
}
.navbar ul.content .sec1 {
  position: absolute;
  padding-top: 14.5px;
  margin-left: 23px;
}
.navbar ul.content .sec1 a.sprite {
  display: block;
}
.navbar ul.content .title {
  display: inline;
}
.navbar ul.content .title h1 {
  display: inline;
  margin: 0;
  line-height: 47.5px;
  font-size: 15.5px;
  color: #fff;
  font-weight: normal;
}
.navbar ul.content .sec2 {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 14.5px;
}
.navbar ul.content .sec2 a.sprite {
  display: block;
}
.navbar ul.content .sec2 :nth-child(1) {
  float: left;
  margin-right: 15px;
}
.navbar ul.content .sec2 :nth-child(2) {
  float: right;
  margin-right: 15px;
}
ul.cgxq-optbar {
  border-bottom: 1px solid #cecece;
  height: 55px;
}
ul.cgxq-optbar li {
  float: left;
  height: 55px;
  width: 49.5%;
  padding-top: 18.5px;
  text-align: center;
  position: relative;
}
ul.cgxq-optbar li a {
  display: block;
}
ul.cgxq-optbar li a p {
  margin: 0;
  margin-bottom: 8px;
  height: 23.5px;
  font-size: 15px;
  color: #5c5c5c;
  font-weight: 200;
}
ul.cgxq-optbar li:nth-child(1) a p {
  border-right: 1px solid #cecece;
}
ul.cgxq-optbar li.selected a p {
  font-weight: bold;
  color: #3c3c3c;
}
ul.cgxq-optbar li.selected a .bar {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 5px;
  background-color: #ffde00;
}
.cgxq-calendar {
  background-color: #f4f4f4;
  margin-right: 570px;
}
.cgxq-calendar .month {
  text-align: center;
  padding: 7.5px 0 12px 0;
  margin: 0;
  font-size: 11px;
}
.cgxq-calendar table.days {
  width: 100%;
  border-collapse: collapse;
}
.cgxq-calendar table.days tr td {
  text-align: center;
}
.cgxq-calendar table.days tr.sec1 td {
  font-size: 9px;
  border-bottom: 1px solid #cecece;
}
.cgxq-calendar table.days tr.sec2 td {
  font-size: 9px;
  padding-top: 12.5px;
  color: #9c9c9c;
}
.cgxq-calendar table.days tr.sec2 td.thismonth {
  color: #383838;
}
.cgxq-calendar table.days tr.sec2 td.today {
  position: relative;
}
.cgxq-calendar table.days tr.sec2 td.today a {
  position: absolute;
  top: 0px;
  line-height: 23px;
  display: block;
  margin: auto;
  left: 0;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7.5px;
  width: 23px;
  height: 23px;
  background: #d70000;
  -moz-border-radius: 11.5px;
  -webkit-border-radius: 11.5px;
  border-radius: 11.5px;
  color: #fff;
}
ul.noStyle.cgxq-lessions li.lession {
  padding: 10px 0 10px 8.5px;
  height: 87px;
  border-bottom: 1px solid #cecece;
}
ul.noStyle.cgxq-lessions li.lession > a > img {
  width: 94px;
  height: 69px;
  float: left;
  margin-right: 16px;
  border-radius: 5px;
  overflow: hidden;
}
ul.noStyle.cgxq-lessions li.lession > a .secright {
  position: relative;
}
ul.noStyle.cgxq-lessions li.lession > a .secright h4 {
  margin: 0;
  margin-top: 5px;
  font-size: 14px;
}
ul.noStyle.cgxq-lessions  a .secright p {
  margin: 0;
  margin-bottom: 3px;
  font-size: 11px;
  color: #5c5c5c;
}
ul.noStyle.cgxq-lessions  a .secright .prices {
  margin-bottom: 5px;
}
ul.noStyle.cgxq-lessions  a .secright .prices .p1 {
  color: #ffa800;
}
ul.noStyle.cgxq-lessions  a .secright .prices .p1 i {
  font-size: 8px;
  font-style: normal;
}
ul.noStyle.cgxq-lessions  a .secright .prices .p1 span {
  font-size: 15px;
  margin-right: 10px;
}
ul.noStyle.cgxq-lessions  a .secright .prices .p2 {
  font-size: 9px;
  color: #afaeae;
  text-decoration: line-through;
}
ul.noStyle.cgxq-lessions  a .secright .time {
  position: absolute;
  top: 0;
  right: 11px;
  font-size: 9px;
  color: #5c5c5c;
  margin-right: 560px;
}
ul.noStyle.cgxq-lessions  a .secright .sprite-arrowright {
  position: absolute;
  top: 30px;
  right: 14px;
}
ul.cgjj-details li {
  border-bottom: 1px solid #E6E6E6;
  color: #5c5c5c;
}
ul.cgjj-details li.titlesec {
  padding: 10px 0px 20px 0px;
  margin: 0 auto;
}
ul.cgjj-details li.titlesec h4 {
  margin-right: 570px;
  margin-bottom: 17.5px;
  font-size: 18px;
  text-align: center;
  color: #3c3c3c;
}
ul.cgjj-details li.titlesec .icons {
  margin-right: 570px;
  text-align: center;
}
ul.cgjj-details li.titlesec .icons i {
  display: inline-block;
}
ul.cgjj-details li.titlesec .icons i:nth-child(1),
ul.cgjj-details li.titlesec .icons i:nth-child(2) {
  margin-right: 30px;
}
ul.cgjj-details li.titlesec .icons p {
  margin: 0;
  text-align: center;
}
ul.cgjj-details li.titlesec .icons p span {
  display: inline-block;
  width: 24px;
  text-align: center;
  color: #9c9c9c;
  font-size: 10px;
}
ul.cgjj-details li.titlesec .icons p span:nth-child(1),
ul.cgjj-details li.titlesec .icons p span:nth-child(2) {
  margin-right: 30px;
}
ul.cgjj-details li.sec1 {
  position: relative;
  margin: 0 10px;
  height: 56px;
}
ul.cgjj-details li.sec1 a .sprite {
  display: block;
}
ul.cgjj-details li.sec1 a i.sprite:nth-child(1) {
  float: left;
  margin-right: 5px;
  margin-top: 15px;
  margin-left: 11px;
}
ul.cgjj-details li.sec1 a i.sprite-arrowright {
  position: absolute;
  top: 20px;
  right: 20px;
}
ul.cgjj-details li.sec1 a p {
  margin: 0;
  padding-top: 15px;
  line-height: 20px;
}
ul.cgjj-details li.sec1 a p .title {
  font-size: 16px;
  margin-right: 10px;
  color: #323232;
}
ul.cgjj-details li.sec1 a p .det {
  font-size: 14px;
  color: #a4a4a4;
}
ul.cgjj-details li.sec2 {
  margin: 0 10px;
  padding-top: 12.5px;
  height: 56px;
}
ul.cgjj-details li.sec2 i.sprite {
  float: left;
  margin-right: 5px;
  margin-left: 11px;
}
ul.cgjj-details li.sec2 p {
  margin: 0;
  line-height: 20px;
}
ul.cgjj-details li.sec2 p .title {
  font-size: 16px;
  margin-right: 10px;
  color: #323232;
}
ul.cgjj-details li.sec2 p .det {
  margin: 0 576px 10px 0;
  font-size: 14px;
  color: #a4a4a4;
}
ul.cgjj-details li.sec3 {
  margin: 0 10px;
  padding-top: 10px;
}
ul.cgjj-details li.sec3 i.sprite {
  float: left;
  margin-right: 5px;
  margin-left: 11px;
}
ul.cgjj-details li.sec3 .title {
  margin: 0;
  line-height: 20px;
  font-size: 16px;
  color: #323232;
}
ul.cgjj-details li.sec3 .content {
  margin: 15px 3px 0 11px;
}
ul.cgjj-details li.sec3 .content p {
  margin: 0 576px 10px 0;
  font-size: 14px;
  color: #a4a4a4;
}
ul.cgjj-details li.sec3 .content img {
  width: 100%;
  margin-bottom: 10px;
}
ul.ccxq li {
  border-bottom: 1px solid #E6E6E6;
  color: #5c5c5c;
}
ul.ccxq li.titlesec {
  padding-top: 12px;
  padding-bottom: 10px;
  margin: 0 12px;
}
ul.ccxq li.titlesec h4 {
  margin: 0;
  margin-bottom: 7.5px;
  font-size: 15px;
  color: #393939;
  text-align: center;
}
ul.ccxq li.titlesec p {
  margin: 0;
  text-align: center;
  font-size: 10px;
  font-weight: 300;
}
ul.ccxq li.sec1 {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 10px;
}
ul.ccxq li.sec1 i.sprite {
  float: left;
  margin-left: 11px;
}
ul.ccxq li.sec1 .content {
  margin-left: 36px;
}
ul.ccxq li.sec1 .content p {
  margin: 0;
}
ul.ccxq li.sec1 .content p .left {
  font-size: 14px;
  margin-right: 10px;
  color: #323232;
}
ul.ccxq li.sec1 .content p .right {
  color: #a4a4a4;
  font-size: 12px;
}
ul.ccxq li.sec1 .content p .small {
  font-size: 11px;
}
ul.ccxq li.sec2 {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 10px;
}
ul.ccxq li.sec2 .sprite {
  float: left;
  margin-left: 11px;
}
ul.ccxq li.sec2 .content {
  margin-left: 36px;
}
ul.ccxq li.sec2 .content p.title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
}
ul.ccxq li.sec2 .content a {
  display: block;
  width: 100%;
}
ul.ccxq li.sec2 .content a .sprite-arrowright {
  position: absolute;
  top: 42.5px;
  right: 11px;
}
ul.ccxq li.sec2 .content a ul.userssec li {
  border: 0;
}
ul.ccxq li.sec2 .content a ul.userssec li.vip {
  float: left;
  position: relative;
  margin-right: 5px;
}
ul.ccxq li.sec2 .content a ul.userssec li.vip img {
  width: 45px;
  height: 45px;
  -moz-border-radius: 22.5px;
  -webkit-border-radius: 22.5px;
  border-radius: 22.5px;
}
ul.ccxq li.sec2 .content a ul.userssec li.vip .sprite {
  position: absolute;
  right: -6.5px;
  top: 0;
}
ul.ccxq li.sec2 .content a ul.userssec li.user {
  float: left;
  margin-right: 5px;
  height: 45px;
  padding-top: 13px;
}
ul.ccxq li.sec2 .content a ul.userssec li.user img {
  width: 32px;
  height: 32px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  opacity: 0.5;
}
ul.ccxq li.sec2 .content a ul.userssec li.text {
  float: left;
  width: 22.5px;
  height: 45px;
  position: relative;
}
ul.ccxq li.sec2 .content a ul.userssec li.text span {
  position: absolute;
  display: block;
  bottom: 0px;
  left: -5px;
  line-height: 5px;
  font-size: 9px;
}
ul.ccxq li.sec2 .content p.bubble {
  margin: 0;
  margin-top: 10px;
  position: relative;
  width: 90%;
  padding: 6px;
  font-size: 11px;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 5px;
  border: 1px solid #cecece;
}
ul.ccxq li.sec2 .content p.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 5px 5.5px;
  border-color: #fff transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -5.5px;
  left: 14.5px;
}
ul.ccxq li.sec2 .content p.bubble:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 5px 5.5px;
  border-color: #cecece transparent;
  display: block;
  width: 0;
  z-index: 0;
  top: -6px;
  left: 14.5px;
}
ul.ccxq li.sec3 {
  position: relative;
  margin: 0 10px;
  height: 43px;
}
ul.ccxq li.sec3 a .sprite {
  display: block;
}
ul.ccxq li.sec3 a i.sprite:nth-child(1) {
  float: left;
  margin-right: 5px;
  margin-top: 10px;
  margin-left: 11px;
}
ul.ccxq li.sec3 a i.sprite-arrowright {
  position: absolute;
  top: 15px;
  right: 11px;
}
ul.ccxq li.sec3 a p {
  margin: 0;
  padding-top: 1px;
  line-height: 38px;
}
ul.ccxq li.sec3 a p .title {
  font-size: 14px;
  margin-right: 10px;
}
ul.ccxq li.sec3 a p .det {
  font-size: 11px;
}
#ccxq-container {
  position: relative;
  padding-bottom: 50px;
}
.ccxq-bottom {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0px;
  padding-top: 7.5px;
  background-color: #313131;
  opacity: 0.9;
}
.ccxq-bottom .title {
  margin: 0;
  margin-left: 23px;
  font-size: 9px;
  color: #fff;
}
.ccxq-bottom .prices {
  margin-left: 23px;
}
.ccxq-bottom .prices .p1 {
  font-size: 12px;
  color: #fff;
}
.ccxq-bottom .prices .p2 {
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.ccxq-bottom .prices .p3 {
  color: #ccc;
  font-size: 9px;
  text-decoration: line-through;
}
.ccxq-bottom a.buybtn {
  position: absolute;
  top: 7.5px;
  right: 10px;
  padding: 8px;
  opacity: 0.9;
  width: 130px;
  height: 34px;
  font-size: 14px;
  color: #313131;
  background-color: #ffe000;
  text-align: center;
  text-decoration: none;
}
